@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=IBM+Plex+Mono:wght@400;500;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --neutral-light: #F8F7F4;
  --neutral-dark: #242422;
  --neutral-dark-hover: #343430;
  --accent-light: #B0BED4;
  --